header{
    position: fixed;
    width:100%;
    top:0;
    background: #282828;
}
table {
    border-collapse: collapse;
}

.class_table {
    border: 2px solid red;
    width: 40%;
} 
.class_table2 {
    border: 2px solid red;
} 
.side_panel{
    position: fixed;
    left:0;
}
.button {
    background-color: black;
    border: none;
    color: #D80000;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #D80000;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.edit 
{
    border: 2px solid black;
}
.button2{
    display: inline-block;
    background-color: black;
    border: none;
    color: #D80000;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	margin-top: 25px;
}
.text{
    color: #D80000;
	left: 40px;
	padding-left: 14px;
}
.button3{
    display: inline-block;
    background-color: black;
    border: none;
    color: #D80000;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
body {
    background-color: #282828;
    color: white;
    margin: 10% 0 0;
    margin-top: 160px;
}
.colonne1{
    width:200px;
    float:left;
}
.colonne2{
    width:800px;
    float:right;
}

.icons{
    width: 20%;
    height: 6%;
}
.search{
    border: 6px transparent;
    border-radius: 4px;
    background-color: black; 
    color: red;
    width: 30%;
}
.select{
    border-radius: 5px;
    border: 1px solid black;
    color: red;
    width: 7%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
    
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(icons/arrow.png) no-repeat 90% 50%;
    background-color: black; 
    background-size: 10px;
}.type{
    border-radius: 5px;
    border: 1px solid black;
    color: red;
    width: 40%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
    
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(icons/arrow.png) no-repeat 90% 50%;
    background-color: black; 
    background-size: 10px;
}
.go{
    background-color: black;
    color: #D80000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}
.box{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 17px; height: 17px;
    border: 1px;
    border-color: red;
    background-color: black;
    border-radius: 3px;
}
.tooltip
{
  position: relative;
  background: #282828;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
  opacity:1;
  text-align: center;
}
#link1
{
	margin-right: 7px;
}
#link2
{
	margin-right: 5px;
}
#link3
{
	margin-right: -25px;
}
#link1 span
{
	margin-right: 7px;
	padding: 0px;
	padding-right: 16px;
	bottom: -50px;
	left: 20px;
}
#link2 span
{
	margin-right: 5px;
	padding: 0px;
	padding-right: 8px;
	bottom: -50px;
	left: 24px;
}
#link3 span
{
	margin-right: -25px;
	padding: 0px;
	padding-right: 28px;
	bottom: -50px;
	left: 12px;
}
a
{
	text-decoration: none;
    color: red;
}
.tooltip span
{
  visibility: hidden;
  position: absolute;
  color: #D80000;
  bottom: -50px;
  width: 25px;
  z-index: 999;
  margin-left: -25px;
  border: 2px solid #D80000;
  opacity: .9;
  background-color: black;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
	content : '';
	position : absolute;
}

.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
.btn {
  border: 3px solid #1a1a1a;
  display: inline-block;
  padding: 5px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
input[type="radio"].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
input[type="radio"].toggle + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
  margin-left: -5px;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  cursor: default;
  color: red;
  transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}
.separator{
    height: 140px;
    background-color: red;
}
.separator2{
    height: 10px;
    background-color: #282828;
}
