.button {
    background-color: black;
    border: none;
    color: #D80000;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #D80000;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2{
    display: inline-block;
    background-color: black;
    border: none;
    color: #D80000;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
body {
    background-color: #282828;
    color: white;
}
.colonne1{
    width:200px;
    float:left;
}
.colonne2{
    width:800px;
    float:right;
}

.icons{
    width: 20%;
    height: 6%;
}
.search{
    border: 6px transparent;
    border-radius: 4px;
    background-color: black; 
    color: red;
    width: 30%;
}
.select{
    border-radius: 5px;
    border: 1px solid black;
    color: red;
    width: 7%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
    
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(icons/arrow.png) no-repeat 90% 50%;
    background-color: black; 
    background-size: 10px;
}
.go{
    background-color: #282828;
    color: #D80000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}
.box{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 17px; height: 17px;
    border: 1px;
    border-color: red;
    background-color: black;
    border-radius: 3px;
}
.tooltip
{
  position: relative;
  background: #282828;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
  opacity:1;
  text-align: center;
}

.tooltip span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 25px;
  margin-left: -25px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 1;
  text-align: center;
}

.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
