.button {
    background-color: black;
    color: #D80000;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    border: 2px solid #D80000;
    cursor: pointer;
}
.button2{
    display: inline-block;
    background-color: black;
    border: none;
    color: #D80000;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
body {
    background-color: #282828;
}
.colonne1{
    width:30%;
    float:left;
}
.colonne2{
    width:30%;
    float:right;
}
.icons{
    width: 20%;
    height: 6%;
}
.search{
    border: 6px transparent;
    border-radius: 4px;
    background-color: black; 
    color: red;
    width: 40%;
}
.select{
    border-radius: 5px;
    border: 1px solid black;
    color: red;
    width: 20%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
    
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(icons/arrow.png) no-repeat 90% 50%;
    background-color: black; 
    background-size: 10px;
}

.go{
    background-color: #282828;
    color: #D80000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}