<HTML>
<HEAD><TITLE>I'm Bored - Registration</TITLE></HEAD>
<BODY>
<form action="../controller/controller_registration.php" method="POST">
Pseudo : <input type='textarea' name='id' value=''><br>
Mot de passe : <input type='password' name='password' value=''><br>
Confirmation : <input type='password' name='password2' value=''><br>
<input type="checkbox" name="privacypolicies" value="read">I have read the <a href="../view/view_privacy_policies.html">privacy policies</a><br>
<input type='submit' name='inscription' value='Confirm'><br>
<a href="../view/view_home_page.html">Retour</a>
</form>
</BODY>
</HTML>