<link rel="stylesheet" type="text/css" href="../ressources/stylesheet.css"/>
<div align="left" class="colonne1">
    <img src="../ressources/Logo.png" class="logo" width='90%' height='8%'>
</div>
<div align="right" class="colonne2">

<a href="../controller/controller_profil.php"><img src='..\ressources\icons\list.png' width='15px' height='15px'></a>
<a href="../controller/controller_change_password.php"><img src='..\ressources\icons\settings.png' width='15px' height='15px'></a>
<a href="../controller/controller_logout.php"><img src='..\ressources\icons\logout.png' width='15px' height='15px'></a><br/>

<form action="../controller/controller_website_search.php" method="GET">
    <input type="text" name="search" size="30" placeholder="Title" style="background-color: black; color: red;">
    <select name="media" style="background-color: black; color: red;">
            <option value="movie">Film</option> 
            <option value="music">Music</option>
    </select>    
    <input type="submit" value="Go" class="button">
</form>       
</div>