<!DOCTYPE HTML>

<HTML>
<HEAD><TITLE>Profile</TITLE></HEAD>
<BODY>
<div align="right">
    <h4>Welcome <?php echo $_SESSION['id2']; ?></h4>
    <a href="../controller/controller_member_home_page.php"><img src='..\ressources\icons\return.png' width='30px' height='30px'></a>
    <a href="../controller/controller_logout.php"><img src='..\ressources\icons\logout.png' width='30px' height='30px'></a>
</div>
<?php
require_once("../model/model_profile_search.php");
$liste = mysqli_fetch_all(type_movie_search($_REQUEST['media']), MYSQLI_ASSOC);
	
echo "<form action='../controller/controller_profile_media.php' method='POST''>";
echo "<input type='text' name='".$_REQUEST['media']."_search' value=''>";
echo "<br><input type='radio' name='asc_desc' value='ASC'>Ascending<br>";
echo "<input type='radio' name='asc_desc' value='DESC'> Descending<br>";
echo "<input type='radio' name='name_grade' value='".$_REQUEST['media']."s.title'>Name<br>";
echo "<input type='radio' name='name_grade' value='listed_".$_REQUEST['media']."s.grade'>Grade<br>";
echo "<select name='type'><br>";
echo "<option value=''>Type</option>";
for($i = 0; $i<count($liste); $i++){
	echo "<option value=".$liste[$i]['name'].">".$liste[$i]['name']."</option>;";
}
echo "</select>";
echo "<input type='hidden' name='media' value='".$_REQUEST['media']."']>";
echo "<input type='submit' name='list_movies' value='Search'>";
echo "</form>";

?>
<BR>
<center>
    <TABLE border="1">
