<!DOCTYPE HTML>

<HTML>
<HEAD><TITLE>Profile</TITLE></HEAD>
<BODY>
<div align="right">
    <h4>Welcome <?php echo $_SESSION['id']; ?></h4>
	<a href="../controller/controller_profil.php"><img src='..\ressources\icons\profil.gif' width='30px' height='30px'></a>
    <a href="../controller/controller_member_home_page.php"><img src='..\ressources\icons\Return.png' width='30px' height='30px'></a>
    <a href="../controller/controller_logout.php"><img src='..\ressources\icons\Logout.png' width='30px' height='30px'></a>
</div>
