<!DOCTYPE HTML>

<HTML>
<HEAD><TITLE>Profile</TITLE></HEAD>
<BODY>
<div align="right">
    Welcome <?php echo $_SESSION['id']; ?></a>
    <a href="../controller/controller_profil.php">Return</a>
    <a href="controller_logout.php">Logout</a>
</div>
sort by
<?php
if(isset($_REQUEST['list_movies'])){
    echo "<form action='../controller/controller_profile_movies.php' method='GET'>";
}else{
    echo "<form action='../controller/controller_profile_musics.php' method='GET'>";
}

if(isset($_REQUEST['list_movies'])){
	echo "<form action='../controller/controller_profile_search.php' method='GET''>";
	echo "<input type='text' name='movie_search' value=''>";
	echo "<input type='submit' name='movie' value='Search'>";
	echo "</form>";
}else{
	echo "<form action='../controller/controller_profile_search.php' method='GET''>";
	echo "<input type='text' name='musics_search' value=''>";
	echo "<input type='submit' name='musics' value='Search'>";
	echo "</form>";
}
?>
<select name="sort">
    <option value="ASC">Title ascending</option>
    <option value="DESC">Title descending</option>
    <option value="type">Type</option>
    <option value="recent">Recent</option>
    <option value="old">Old</option>
</select>
<?php
if(isset($_REQUEST['list_movies'])){
    echo "<input type='submit' name='list_movies' value='Sort'>";
}else{
    echo "<input type='submit' name='list_musics' value='Sort'>";
}
?>
</form>
<BR>
<center>
    <TABLE border="1">