<!DOCTYPE HTML>

<html>

<head>
  <title>Member Home Page</title>
  <?php include("view_header.php");?>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
    $(function () {
      if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
        $('.tooltip').mouseover(function () {
          $(this).children('span').show();
        }).mouseout(function () {
          $(this).children('span').hide();
        });
      }
    });
  </script>
</head>

<body>
  <br>