<HTML>
<HEAD><TITLE>Connexion</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../ressources/stylesheet.css"/>
</HEAD>
<BODY>              
<table>
<tr><td><h1><font color=#D80000>Sign in</font></h1></td></tr>
<form action="../controller/controller_connection.php" method="POST">
<tr><td><font color="white">Username</font>&emsp;</td><td><input type='textarea' name='id' value='' placeholder="Username" style="background-color: grey; color: white;"></td></tr>
<tr><td><font color="white">Password</font>&emsp;</td><td><input type="password" name="password" value="" placeholder="Password" style="background-color: grey; color: white;"></td></tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr><td></td><td><input class="button" type="submit" name="buton" value="Log in"></td></tr>
</form>
</table>
</center><a href="../view/view_registration.html">Register</a>
<br>
</center><a href="../view/view_home_page.php">Home page</a>
</BODY>
</HTML>