<HTML>
<HEAD><TITLE>Connexion</TITLE></HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<BODY>
<div align="center">
    <h1>I'm Bored</h1></div>
</div>
                
Connection :<br>
<form action="../controller/controller_connection.php" method="POST">
ID : <input type='textarea' name='id' value=''><br>
Password : <input type="password" name="password" value=""><br>
<input type="submit" name="buton" value="Log in"><br>
</form>
</center><a href="../view/view_registration.html">Register</a>
<br>
</center><a href="../view/view_home_page.php">Home page</a>
</BODY>
</HTML>